<!doctype html>
<script>
function toggle_include_all(cb) {
    const value = cb.checked;
    for (const item of document.getElementsByClassName("item-selection")) {
        item.checked = value;
    }
    for (const incall of document.getElementsByClassName("include-all-cb")) {
        incall.checked = value;
    }
}

function on_file_toggled(cb) {
    var checked = true;
    for (const item of document.getElementsByClassName("item-selection")) {
        checked = checked && item.checked;
    }
    for (const incall of document.getElementsByClassName("include-all-cb")) {
        incall.checked = checked;
    }
}
</script>
<div class="content">
    {% if not is_linked %}
        <a class="action link" href="/link">Link</a>
    {% endif %}

    {% if is_syncing %}
    <a class="action stop-sync" href="./?sync=stop">Stop syncing</a>
    {% endif %}

    {% if is_linked and not is_syncing %}
    <a class="action unlink" href="./?unlink=1">Unlink</a>
    <form method="post">
        {% macro select_all_row() %}
        <div class="row selection">
            <input type="checkbox" 
                   class="include-all-cb" 
                   onchange="toggle_include_all(this)"
                   checked>
            <span class="spacer"></span>
            <span class="label">Include all</span>
        </div>
        {% endmacro %}

        {{ select_all_row() }}
        {% for item in root_content %}
        <div class="row">
            <input type="checkbox" 
                   name="file"
                   class="item-selection" 
                   value="{{ item['path_lower'] }}"
                   onchange="on_file_toggled(this)"
                   checked>
            <input type="hidden"
                   name="filepath"
                   value="{{ item['path_lower'] }}">
            {% if item["type"] == "FolderMetadata" %}
            <span class="folder-type">[Folder]</span>
            {% elif item["type"] == "FileMetadata" %}
            <span class="file-type">[File]</span>
            {% else %}
            <span class="unknown-type">[Unknown]</span>
            {% endif %}
            <span class="filename">{{item["name"]}}</span>
        </div>
        {% endfor %}
        {{ select_all_row() }}
        <input type="submit" value="Start syncing">
    </form>
    {% endif %}
</div>
