<!doctype html>
<title>Link your account</title>
<div id="error">{{ error }}</div>
<a id="auth_url" href="{{ url }}" target="_blank">Get auth code from Dropbox</a>
<form method="post">
  <label for="auth_code">Auth code:</label>
  <input type="text" id="auth_code" name="auth_code"><br><br>
  <input type="submit" value="Link">
</form>
